<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BH</servlet-name>
  	<display-name>BH</display-name>
  	<description></description>
  	<servlet-class>viewMenu.BH</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Cor</servlet-name>
  	<display-name>Cor</display-name>
  	<description></description>
  	<servlet-class>viewMenu.Cor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Dom</servlet-name>
  	<display-name>Dom</display-name>
  	<description></description>
  	<servlet-class>viewMenu.Dom</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FL</servlet-name>
  	<display-name>FL</display-name>
  	<description></description>
  	<servlet-class>viewMenu.FL</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HT</servlet-name>
  	<display-name>HT</display-name>
  	<description></description>
  	<servlet-class>viewMenu.HT</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KC</servlet-name>
  	<display-name>KC</display-name>
  	<description></description>
  	<servlet-class>viewMenu.KC</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PB</servlet-name>
  	<display-name>PB</display-name>
  	<description></description>
  	<servlet-class>viewMenu.PB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VR</servlet-name>
  	<display-name>VR</display-name>
  	<description></description>
  	<servlet-class>viewMenu.VR</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reg</servlet-name>
  	<display-name>Reg</display-name>
  	<description></description>
  	<servlet-class>com.Reg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Biriyanihouse</servlet-name>
  	<display-name>Biriyanihouse</display-name>
  	<description></description>
  	<servlet-class>hotel.Biriyanihouse</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Biriyanihouse1</servlet-name>
  	<display-name>Biriyanihouse1</display-name>
  	<description></description>
  	<servlet-class>hotel.Biriyanihouse1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCart</servlet-name>
  	<display-name>ViewCart</display-name>
  	<description></description>
  	<servlet-class>hotel.ViewCart</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BH</servlet-name>
  	<url-pattern>/biriyanihouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Cor</servlet-name>
  	<url-pattern>/coriander</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Dom</servlet-name>
  	<url-pattern>/dominos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FL</servlet-name>
  	<url-pattern>/foodlands</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HT</servlet-name>
  	<url-pattern>/hilltop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KC</servlet-name>
  	<url-pattern>/kababcenter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PB</servlet-name>
  	<url-pattern>/pabbas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VR</servlet-name>
  	<url-pattern>/villagerest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reg</servlet-name>
  	<url-pattern>/Reg</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>Biriyanihouse1</servlet-name>
  	<url-pattern>/Biriyanihouse1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCart</servlet-name>
  	<url-pattern>/ViewCart</url-pattern>
  </servlet-mapping>
  
</web-app>
